@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC:ital@0;1&family=Sacramento&display=swap');
// colors
$black: #000;
$white: #fff;
$hover: #c7d93b;
$mainColor: #1d1a19;
$greyColor: #444;
$bg: #f4efde;
$orange: #dba539;
$brown: #805f1e;

// font-families
$alice: 'Alice', serif;
$playfair: 'Playfair Display SC', serif;
$sacramento: 'Sacramento', cursive;